@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'http://fonts.googleapis.com/css?family=Raleway';
@import 'https://fonts.googleapis.com/css?family=Droid+Sans';
@import 'https://fonts.googleapis.com/css?family=Londrina+Solid';
@import 'https://fonts.googleapis.com/css?family=Candal';
@import 'https://fonts.googleapis.com/css?family=Ubuntu';
@import 'https://fonts.googleapis.com/css?family=Indie+Flower';

html, body 
{
  height: 100%; 
}

body {
  background: #fff;
  color: #383a3c;
  font-size: 1em;
  line-height: 1.25;
}

p {
	/* font-style font-variant font-weight font-size/line-height font-family */
}

.social-nav {
  position:fixed;
  top: 0px;
  left: 40px;
  z-index: 999;
}
.social-nav ul {margin: 0; padding:0;}
.social-nav ul li{
  list-style: none;
  display:block;
  float: left;
  background: #393939;
  padding:100px 10px 5px 10px;
  margin: 1px;
  opacity: .5;
}
.social-nav ul li:hover {opacity: 1;}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

/*start large header*/
.large-header {
  position: relative;
  width: 100%;
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  background: #d1d8e0;
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  text-transform: uppercase;
  font-size: 10.0em;
  letter-spacing: 0.2em;
  padding: 20px 50px;
  /*border: 10px double #f9f1e9;*/
  border: 10px double #3a39e5;
  text-transform: uppercase;
  font-family: Londrina Solid, sans-serif;
  color: #3a39e5;
}

.sub-title {
  position: absolute;
  text-align: center;
  top: 75%;
  left: 30%;
  font: bold normal normal 2.5em/20px Ubuntu;
  color: #111144;
  text-transform: uppercase;
}

.quote {
  width: 100%;
  padding: 7% 0 5% 0;
  font: bold normal 10px Indie Flower;
  background-color: #3a000f;
  color: #ffd700;
}

.main-quote {
  font-size: 3em;
  text-align: center;
  line-height: 40px;
}

.sub-quote {
  font-size: 2em;
  margin-right: 0%;
}

#q1:before {
  display: block;
  position: absolute;
  content: '';
  width: 80px;
  height: 80px;
  bottom: -55px;
  left: 50%;
  margin-left: -50px;
  background-color: #d1d8e0;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 1;
}

section:after {
  display:block;
  position:absolute;
  content:'';
  margin-top: 38px;
  background: #3a000f;
  box-shadow: -50px 50px 0 #3a000f, 50px -50px 0 #3a000f; /* Change The Hex Values */
  left: 50%;
  width: 60px;
  height: 60px;
  -webkit-transform: translateX(-50%) rotate(45deg);
  transform: translateX(-50%) rotate(45deg);
  z-index: 200;
}

section > .row {
  margin-top: 4%;
}

.intro {
  background-color: #e5f1f1;
  padding: 5% 0;
}

.to_shuffle {
  position: absolute;
  left: 38%;
  font: normal normal normal 4em/20px Candal;
  text-transform: uppercase;
}

.profile-pic {
  width: 80%;
  margin-top: 20%;
  border-radius: 30px;
}

.intro-text {
  font: normal normal normal 3em/45px Raleway;
}

.intro-text span {
  border-bottom: dotted 2px black;
}

.tooltip {
  font-size: 0.7em;
}

.skills {
  background-color: #e5f1f1;
  padding: 5% 0;
}

.skill_header p {
  font: 2em/35px Ubuntu;
  text-align: center;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
}

.skill_header p:after {
  display: inline-block;
  position: absolute;
  left: 6.5%;
  top: 70%;
  content: '';
  width: 0;
  height: 0;
  border-top: solid 20px #000;
  border-right: solid 20px transparent;
}

.full_skill {
  width: 90%;
  margin-top: 0%;
}

.full_skill tr td {
  position: relative;
  width: 20%;
  text-align: center;
  font: normal normal normal 1.7em/45px Ubuntu;
  border-left: dashed 2px #808080;
  border-right: dashed 2px #808080;
}

.full_skill tr td:first-child {
  border: none;
  border-right: solid 2px #808080;
}

.full_skill tr:last-child td {
  text-align: right;
  left: 2.5%;
  font: italic normal normal 1.5em/40px Ubuntu;
  border: none;
}

.progress-box {
  position: absolute;  
  left: 19%;
  width: 77%;
}

.progress-box:nth-child(1) {
  top: 5%;
}

.progress-box:nth-child(2) {
  top: 19%;
}

.progress-box:nth-child(3) {
  top: 34%;
}

.progress-box:nth-child(4) {
  top: 48%;
}

.progress-box:nth-child(5) {
  top: 62%;
}

.progress-box:nth-child(6) {
  top: 78%;
}

.progress {
  width: 91%; 
}

.spec_skill {
  
}

.spec_skill > ol > li { 
  text-transform: uppercase;
  padding: 2% 0 2% 0;
  list-style-position: inside;
  border-bottom: solid 3px #888888;
  font: bold normal normal 3em/45px Droid Sans;
}

.spec_skill > ol > p { 
  padding-top: 1%;
  font: normal normal normal 2.8em/40px Lucida;
}

.spec_skill li {
  font-weight: bold;  
}

.spec_skill ul {
  padding: 1% 0% 5% 10%;
  list-style-type: square;
  font: normal normal normal 2.3em/35px Book Antiqua;
}

.misc {
  background-color: #e5f1f1;
  padding: 5% 0;
}

.misc h2 {
  text-transform: uppercase;
  font: italic bold 24px Raleway;
  text-align: left;
  padding-left: 8%;
}

.button--moema {
  padding: 1.5em 3em;
  border-radius: 50px;
  background: #7986cb;
  color: #fff;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
  font-size: 1.5em;
  text-align: center;
  margin-left: -15%;
  margin-right: 15%;
}
.button--moema::before {
  content: '';
  position: absolute;
  top: -20px;
  left: -20px;
  bottom: -20px;
  right: -20px;
  background: inherit;
  border-radius: 50px;
  z-index: -1;
  opacity: 0.4;
  -webkit-transform: scale3d(0.8, 0.5, 1);
  transform: scale3d(0.8, 0.5, 1);
}
.button--moema:hover {
  -webkit-transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  transition: background-color 0.1s 0.3s, color 0.1s 0.3s;
  color: #ECEFF1;
  background-color: #3f51b5;
  -webkit-animation: anim-moema-1 0.3s forwards;
  animation: anim-moema-1 0.3s forwards;
}
.button--moema:hover::before {
  -webkit-animation: anim-moema-2 0.3s 0.3s forwards;
  animation: anim-moema-2 0.3s 0.3s forwards;
}
@-webkit-keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-1 {
  60% {
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
  }
  85% {
    -webkit-transform: scale3d(1.1, 1.1, 1);
    transform: scale3d(1.1, 1.1, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes anim-moema-2 {
  to {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.footer {
  height: 50px;
  content: '';
  background-color: #3a000f;
}

section:last-child:after {
  display: none;
}


@media only screen and (max-width : 768px) {
  .main-title {
    font-size: 4em;
  }
  .sub-title {
    font-size: 1.2em;
    left: 17%;
    top: 70%;
  }
  .social-nav {
    position:fixed;
    top: 0px;
    left: 00px;
    z-index: 999;
  }
  .social-nav ul li{
    padding:10px 10px 5px 10px;
    margin: 1px;
    opacity: .5;
  }
  #q1:before {
    display:none;
  }
  section:after {
    display: none;
  }
  .main-quote {
    font-size: 2em;
    line-height: 25px;
  }
  .sub-quote {
    font-size: 1.2em;
  }
  .to_shuffle {
    left: 20%;
    font: normal normal normal 3em/20px Candal;
  }
  .profile-pic {
    width: 50%;
    margin: 0 auto;
    padding: 5% 0;
  }
  .intro-text {
    font: normal normal normal 2.4em/35px Raleway;
  }
  .intro-text span {
    border: none;
  }
  .skill_head_1 {
    margin-top: 10%;
  }
  .full_skill tr td:first-child {
    border: none;
  }
  .full_skill tr td {
    font: normal normal normal 1em/15px Ubuntu;
    border-left: dashed 1px #808080;
    border-right: dashed 1px #808080;
    padding: 1% 0;
  }
  .full_skill tr:last-child td {
    text-align: right;
    left: 2.5%;
    font: italic normal normal 1em/40px Ubuntu;
    border: none;
  }
  .progress-box {
    position: absolute;  
    left: 21%;
    width: 73%;
  }
  .progress-box:nth-child(1) {
    top: 5%;
  }
  .progress-box:nth-child(2) {
    top: 20%;
  }
  .progress-box:nth-child(3) {
    top: 35%;
  }
  .progress-box:nth-child(4) {
    top: 50%;
  }
  .progress-box:nth-child(5) {
    top: 63%;
  }
  .progress-box:nth-child(6) {
    top: 72%;
  }
  .progress {
    height: 15px;
  }
  .skill_header p {
    font: 1em/30px Ubuntu;
    margin-left: 10%;
  }
  .skill_header p:after {
    left: 22%;
  }
  .spec_skill {
    font: normal normal normal 2em/30px Droid Sans;
  }
}



