@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'http://fonts.googleapis.com/css?family=Raleway:200,400,800';
@import 'https://fonts.googleapis.com/css?family=Droid+Sans';
@import 'https://fonts.googleapis.com/css?family=Londrina+Solid';
@import 'https://fonts.googleapis.com/css?family=Candal';
@import 'https://fonts.googleapis.com/css?family=Ubuntu';

html, body 
{
  height: 100%; 
  width: 100%;
}

body {
  background: #fff;
  color: #383a3c;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.25;
}

p {
	/* font-style font-variant font-weight font-size/line-height font-family */
  font: normal normal normal 1.5em/30px VT323;
}

.social-nav {
  position:fixed;
  top: 0px;
  left: 40px;
  z-index: 999;
}
.social-nav ul {margin: 0; padding:0;}
.social-nav ul li{
  list-style: none;
  display:block;
  float: left;
  background: #393939;
  padding:100px 10px 5px 10px;
  margin: 1px;
  opacity: .5;
}
.social-nav ul li:hover {opacity: 1;}

.container {
  margin: 0 auto;
  width: 100%;
  padding: 0;
}

/*start large header*/
.large-header {
  position: relative;
  width: 100%;
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
  background: #d1d8e0;
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%,-50%,0);
  transform: translate3d(-50%,-50%,0);
  text-transform: uppercase;
  font-size: 10.0em;
  letter-spacing: 0.2em;
  padding: 20px 50px;
  /*border: 10px double #f9f1e9;*/
  border: 10px double #3a39e5;
  text-transform: uppercase;
  font-family: Londrina Solid, sans-serif;
  color: #3a39e5;
}

.sub-title {
  position: absolute;
  text-align: center;
  top: 75%;
  left: 30%;
  font: bold normal normal 2.5em/20px Ubuntu;
  color: #111144;
  text-transform: uppercase;
}

.quote {
  width: 100%;
  padding: 5% 0;
  /*background-color: #FFFAFA;*/
}

.main-quote {
  color: #ffd700;
  font-size: 3em;
  text-align: left;
  line-height: 40px;
}

.main-quote:before {
  position: relative;
  content: "\201C";
  font-size: 2em;
  padding-right: 2%;
}

.main-quote-malay {
  color: #ffd700;
  font-size: 3em;
  text-align: center;
  line-height: 40px;
}

.sub-quote {
  font-size: 2em;
  margin-right: 5%;
}

.intro {
  background-color: #fad2fa;
  padding: 5% 0;
}

.profile-pic {
  width: 80%;
  margin-top: 20%;
  border-radius: 30px;
}

.intro-text {
  font: normal normal normal 3em/45px Raleway;
  padding-top: 1%;
}

.intro-text span {
  border-bottom: dotted 2px black;
}

.tooltip {
  font-size: 0.7em;
}

@media only screen and (max-width : 768px) {
  .main-title {
    font-size: 4em;
  }
  .sub-title {
    font-size: 1.2em;
    left: 17%;
    top: 70%;
  }
  .social-nav {
    position:fixed;
    top: 0px;
    left: 00px;
    z-index: 999;
  }
  .social-nav ul li{
    padding:10px 10px 5px 10px;
    margin: 1px;
    opacity: .5;
  }
  .profile-pic {
    width: 50%;
    margin: 0 auto;
    padding: 2% 0;
  }
  .intro-text {
    font: normal normal normal 2.4em/35px Raleway;
  }
  .intro-text span {
    border: none;
  }
}
/*end large header*/


